.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
  max-width: 70rem;
  margin: auto;
}

.box {
  height: 350px;
  width: 100%;
  position: relative;
  background-color: #3b017a;
  border-radius: 0 6px 6px 6px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.59);
  padding: 0.25em 0.5em;
  display: flex;
  align-items: left;
  flex-direction: column;
  padding: 20px;
  text-decoration: none;
  color: white;
  position: relative;

  &:before {
    content: "";
    width: 50%;
    height: 12px;
    border-radius: 0 20px 0 0;
    background-color: #3b017a;
    position: absolute;
    top: -12px;
    left: -1px;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0.8em;
    width: 4em;
    height: 5px;
    top: -0.49em;
    background: #faf900;
    border-radius: 0 0 5px 5px;
  }

  &:hover {
    h3 {
      color: #faf900;
    }
  }

  a {
    text-decoration: none;

    h3 {
      padding: 15px 0;
      font-size: clamp(1.1rem, 1.0143rem + 0.4286vw, 1.7rem);
      color: white;
      transition: all 0.4s;
    }
  }

  p {
    line-height: 1.3rem;
    font-size: clamp(0.8rem, 0.7571rem + 0.2143vw, 1.1rem);
  }
}

.stack {
  font-size: clamp(0.8rem, 0.7714rem + 0.1429vw, 1rem);
  padding-top: 40px;
  font-weight: 300;
  word-spacing: 10px;
}

.links {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: end;
  padding-top: 35px;
  justify-content: right;
  position: absolute;
  bottom: 20px;
  right: 20px;

  li {
    a {
      color: white;
      padding-left: 25px;
      transition: all 0.4s;

      &:hover {
        color: #faf900;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.hr {
  width: 50%;
  position: absolute;
  bottom: 40px;

  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.buttonDiv {
  padding-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seeMore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;

  background-color: white;
  color: #5e21cd;
  padding: 1.2rem;
  font-size: clamp(0.7rem, 0.6286rem + 0.3571vw, 1.2rem);
  letter-spacing: 4px;
  box-shadow: 12px 12px 2px 1px #541dba;
  border: none;
  transition: 0.5s;
  width: 100%;
  max-width: 18rem;
  max-height: 4rem;

  &:hover {
    background-color: #faf900;
    letter-spacing: 4.5px;
  }
}
