.page {
  height: 100vh;
  width: 100%;
  max-width: 100rem;
  margin: auto;
  padding: 10%;

  @media screen and (max-width: 768px) {
    height: 100vh;
  }
}

.container {
  padding-top: 10%;
  margin: auto;

  h2 {
    font-size: clamp(0.9rem, 0.7429rem + 0.7857vw, 2rem);
  }

  h1 {
    font-size: clamp(1.5rem, 0.9286rem + 2.8571vw, 5.5rem);
    padding-bottom: 3.1rem;
    font-weight: 800;
    line-height: clamp(2rem, 1.1429rem + 4.2857vw, 8rem);
    text-shadow: 4px 4px 4px #3b017a;

    span {
      color: #faf900;
    }
  }
}

.description {
  font-size: clamp(0.8rem, 0.6857rem + 0.5714vw, 1.6rem);
  color: rgba(255, 255, 255, 0.8);
  max-width: 40rem;
  font-weight: 400;
  line-height: clamp(1.4rem, 1.2857rem + 0.5714vw, 2.2rem);
  margin-top: 8%;
}
