.page {
  height: 100%;
  width: 100%;
  max-width: 100rem;
  margin: auto;
  padding: 10%;

  @media screen and (max-width: 768px) {
    height: 100vh;
  }
}

.container {
  padding-top: 15%;
  margin: auto;

  @media screen and (max-width: 1024px) {
    text-align: center;
  }

  h2 {
    font-size: clamp(1rem, 0.8571rem + 0.7143vw, 2rem);
  }

  h1 {
    font-size: clamp(2rem, 1.6429rem + 1.7857vw, 4.5rem);
    padding-bottom: 3.1rem;
  }
}

.description {
  font-size: clamp(0.6rem, 0.5143rem + 0.4286vw, 1.2rem);
  color: rgba(255, 255, 255, 0.7);
  max-width: 520px;
  font-family: "Open Sans", sans-serif;
  line-height: 2rem;

  @media screen and (max-width: 1024px) {
    margin: auto;
  }
}
