.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
  font-size: clamp(0.9rem, 0.8571rem + 0.2143vw, 1.2rem);
  letter-spacing: 3px;
  z-index: 3;

  @media screen and (max-width: 1024px) {
    padding: 0 20px;
    padding-top: 30px;
    position: static;
    background-color: #5700b6;
  }
}

.logo {
  position: absolute;
  width: 130px;
  height: 75px;
  background: #5700b6;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.4s;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-left-color: #5700b6;
    border-right: 0;
    margin-top: -13px;
    margin-right: -13px;
  }

  &:hover {
    box-shadow: none;
  }
}

.img {
  max-width: 120px;
  height: auto;
  position: absolute;
  top: 10px;
}

.hamburger {
  position: relative;
  width: 50px;
  height: 50px;
  background: #5700b6;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.4s;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-right-color: #5700b6;
    border-left: 0;
    margin-top: -13px;
    margin-left: -13px;
  }

  &:hover {
    box-shadow: none;
  }
}

.menuDrop {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 24rem;
  height: 31.5rem;
  z-index: 2;
  right: 3rem;
  padding: 20px 40px;
  box-shadow: 5px 5px 10px 5px #00000056;

  @media screen and (max-width: 700px) {
    right: 0;
    width: 100%;
  }

  ul {
    list-style: none;
    padding-top: 25px;
    font-weight: 400;

    li {
      padding-bottom: 25px;
      cursor: pointer;

      a {
        text-decoration: none;
        color: #5700b6;

        box-shadow: inset 0 0 0 0 #faf900;
        transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        margin: 0 -0.25rem;
        padding: 0 0.25rem;

        &:hover {
          box-shadow: inset 300px 0 0 0 #faf900;
          font-weight: 700;
          width: 100%;
        }
      }
    }
  }
}

.socialIcons {
  display: flex;
  flex-direction: row;

  li {
    margin: auto;
  }
}
