.page {
  height: 105vh;
  width: 100%;
  max-width: 80rem;
  margin: auto;
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
  padding: 0 20px 0 20px;
}

.sectionTitle {
  padding-top: 10%;
  text-align: center;

  h3 {
    color: #5700b6;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
  }

  hr {
    border: none;
    background-color: #faf900;
    width: 6rem;
    height: 4px;
    margin: auto;
  }

  p {
    max-width: 40rem;
    margin: auto;
    text-align: center;
    margin-top: 15px;
    font-size: clamp(0.8rem, 0.9vw, 1.8rem);
    line-height: 1.6rem;
    font-weight: 500;
  }
}

.form {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 10%;
  

  span {
    position: absolute;
    font-size: clamp(0.8rem, 0.9vw, 1.8rem);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
  }

  input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: clamp(0.8rem, 0.9vw, 1.8rem);
    background: rgba(#000, 0.02);
    box-shadow: inset 0 -1px 0 #5700b6;
    transition: all 0.15s ease;

    &:hover {
      background: rgba(#000, 0.04);
      box-shadow: inset 0 -1px 0 rgba(#000, 0.5);
    }

    &:not(:placeholder-shown) + span {
      color: rgba(#000, 0.5);
      transform: translate3d(0, -12px, 0) scale(0.75);
    }

    &:focus {
      background: rgba(#000, 0.05);
      outline: none;
      box-shadow: inset 0 -2px 0 #5700b6;
      + span {
        color: #5700b6;
        transform: translate3d(0, -15px, 0) scale(0.75);
      }
    }
  }

  .row {
    display: flex;
    gap: 4rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  label {
    display: flex;
  }

  .halfWidth {
    width: 50%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .fullfWidth {
    margin-top: 8rem;
    width: 100%;

    @media screen and (max-width: 768px) {
      margin-top: 4rem;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6rem auto;
    cursor: pointer;

    background-color: white;
    color: #5e21cd;
    padding: 1.2rem;
    font-size: clamp(0.7rem, 0.6286rem + 0.3571vw, 1.2rem);
    font-weight: 700;
    letter-spacing: 4.2px;
    border: 1px solid #5e21cd;
    transition: 0.5s;
    max-width: 22rem;
    max-height: 4rem;

    &:hover {
      background-color: #faf900;
    }

    @media screen and (max-width: 768px) {
      margin: 3rem auto;
    }
  }
}
