@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  padding-top: 60px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 3px;
  background-color: #5700B6;

  @media screen and (max-width: 768px) {
    padding: 0 20px;
    padding-top: 30px;
  }
}

.img {
  width: 160px;
  height: auto;

  @media screen and (max-width: 768px) {
    width: 100px;
  }
}

.menuDrop {
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 24rem;
  height: 36rem;
  z-index: 2;
  right: 3rem;
  padding: 20px 40px;
  box-shadow: 5px 10px 8px #3b017a;

  ul {
    list-style: none;
    padding-top: 25px;

    li {
      padding-bottom: 25px;

      a {
        text-decoration: none;
        color: #5700b6;

        box-shadow: inset 0 0 0 0 #faf900;
        transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        margin: 0 -0.25rem;
        padding: 0 0.25rem;

        &:hover {
          box-shadow: inset 300px 0 0 0 #faf900;
          color: black;
          width: 100%;
        }
      }
    }
  }
}

.socialIcons {
  display: flex;
  flex-direction: row;

  li {
    margin: auto;
  }
}
