.page {
  height: 100%;
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 0 8% 0 8%;
  
}

.works {
  padding: 20% 0 20% 0;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }

  article {
    width: 50%;
    padding: 6rem;

    @media screen and (max-width: 1024px) {
      width: 100%;
      padding: 2rem 0;
      margin: auto;
    }

    &:first-child {
      border-right: 1px solid #faf900;

      @media screen and (max-width: 1024px) {
        border-right: none;
        border-bottom: 1px solid white;
        padding-bottom: 3rem;
      }
    }

    h3 {
      font-size: clamp(1.8rem, 1.6rem + 1vw, 3.2rem);
    }

    p {
      font-size: clamp(0.8rem, 0.7429rem + 0.2857vw, 1.2rem);
      margin-top: 0.8rem;
      max-width: 30rem;
      line-height: clamp(1.2rem, 1.0857rem + 0.5714vw, 2rem);
      color: rgba(255, 255, 255, 0.8);
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
      text-decoration: none;
      cursor: pointer;
      font-weight: bold;

      background-color: white;
      color: #5e21cd;
      padding: 1.2rem;
      font-size: clamp(0.7rem, 0.6286rem + 0.3571vw, 1.2rem);
      letter-spacing: 4px;
      box-shadow: 12px 12px 2px 1px #541dba;
      border: none;
      transition: 0.5s;
      max-width: 24rem;
      max-height: 4rem;

      &:hover {
        background-color: #faf900;
        letter-spacing: 4.5px;
      }
    }
  }
}
