.page {
  height: 100%;
  width: 100%;
  max-width: 110rem;
  margin: auto;
}

.sectionTitle {
  padding-top: 15%;
  padding-bottom: 5%;
  text-align: center;

  h3 {
    color: white;
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    padding-bottom: 0.5rem;
  }

  hr {
    border: none;
    background-color: #faf900;
    width: 8rem;
    height: 4px;
    margin: auto;
  }

  p {
    max-width: 40rem;
    margin: auto;
    text-align: center;
    margin-top: 15px;
    font-size: clamp(0.8rem, 0.9vw, 1.8rem);
    line-height: 1.4rem;
    font-weight: 500;
  }
}
